<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="news" style = "text-align: center">
  <div class="subnews">
    <form>
      <label>Research stock by ticker symbol <br><br>
        <input [(ngModel)]="textInput" type="text" name="textInput">
      </label><br>
      <button class="btn btn-success" (click)="getNews()">Search</button>
    </form>
    <div class = "innews">
      <!-- avoid <br> you want css controlling your styles, not markup -->
      <br>
      <h3><i>{{ stock.quote.companyName }} Stats</i></h3>
      <br><br>
      <p>Sector: {{ stock.quote.sector }}</p>
      <p>Day range: {{ stock.quote.open}} - {{ stock.quote.close }}</p>
      <p>Day Change: {{ stock.quote.changePercent*100 }}%</p>
      <p>52-week Range: {{ stock.quote.week52Low}} - {{ stock.quote.week52High }}</p>
      <p>Market Cap: {{ stock.quote.marketCap/1000000 }}M</p>
      <p>YTD Return: {{ stock.quote.ytdChange*100 }}%</p>
      <p>Price/Earning Ratio: {{stock.quote.peRatio }}</p>
    </div>

    <div class="news-chart">

      <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
    </div>

      <h3>Related News</h3>
      <div *ngFor = "let x of stock.news">
        <h4>{{ x.datetime }} - {{ x.headline }}</h4>
        <p style="font-size: 15px;"><a href="{{ x.url }}"><span style="font-size: 15px; color: greenyellow;"><i>Read article</i></span></a></p>
      </div> 
  </div>
</div>
