<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<div class="trade" style = "text-align: center">
  <div class="order">
    <div class = "stats">
      <form>
        <label><h4 style = "font-size: 23px">Find stock quote by symbol </h4><br>
          <input class = "form" [(ngModel)]="textInput" type="text" name="textInput">
        </label>
        <button class="btn btn-success" (click)="getStock()">Search</button>
      </form>
      <br><br>
      <h4 style = "font-size: 20px"> Company Name: {{ stock.quote.companyName }}</h4>
      <h4 style = "font-size: 20px"> Ticker Symbol: {{ stock.quote.symbol }}</h4>
      <h4 style = "font-size: 20px"> Latest Price: {{ stock.quote.latestPrice }}</h4>

      <div *ngIf = "orderErrors">
        <p *ngIf = "orderErrors.errors.symbol" style="color:red">{{ orderErrors.errors.symbol.message }}</p>
        <p *ngIf = "orderErrors.errors.type" style="color:red">{{ orderErrors.errors.type.message }}</p>
        <p *ngIf = "orderErrors.errors.price" style="color:red">{{ orderErrors.errors.price.message }}</p>
        <p *ngIf = "orderErrors.errors.quantity" style="color:red">{{ orderErrors.errors.quantity.message }}</p>
      </div>
    </div>

    <div class="chart">
      <br>
      <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
      <br>
      <form>
        <input class = "form" [(ngModel)]="chartInput" type="text" name="chartInput">
        <button class="btn btn-success" (click)= "getChart()">View Chart</button>
      </form>
    </div>

    <div>
      <form style = "font-size: 15px" class="trade_form">
        <label>Ticker Symbol<span style = "color:red">*</span>: <br>
          <input type="text" name="symbol" [(ngModel)]="order.symbol">
        </label><br>
        <label>Trade Type<span style = "color:red">*</span>:<br>
          <select name = "type" [(ngModel)]="order.type">
            <option value="buy">Buy</option>
            <option value="buy cover">Buy Cover</option>
            <option value="sell">Sell</option>
            <option value="sell short">Sell Short</option>
          </select>
          </label><br>
        <label>Price<span style = "color:red">*</span>:<br>
            <input type="number" name="price" [(ngModel)]="order.price">
        </label><br>
        <label>Quantity<span style = "color:red">*</span>:<br>
          <input type="number" name="quantity" [(ngModel)]="order.quantity">
        </label><br>
        <label>Total:<br>
          <input type="number" name="total" [(ngModel)]="order.quantity*order.price" readonly>
        </label><br>

        <button class = "btn btn-success" (click) = "placeOrder()">Place Order</button>

      </form>
      <div class="empty"></div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>